.appHeader {
	background-color: #445566;
    color: white;
    line-height: 5rem;
    height: 5rem;
    padding-left: 5rem;
}

.appNavigator {
	background-color: #778899;
	height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 1rem;
}

.appContent {
	background-color: #aabbcc;
	margin-top: 0.5rem;
	border-radius: 15px;
	/*height: 100%;*/
}

.pagesContent {
	position: relative;
	background-color: #334455;
	height: 90%;
	/*width: 150%;*/
	left: 10%;
	max-width: 40rem;
	min-width: 25rem;
	border-radius: 15px;
}

.appFooter {
	position: fixed;
	bottom: 0;
	background-color: #445566;
    color: white;
    line-height: 3rem;
    height: 3rem;
    text-align: center;
    width: 100%;
}